<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.procialize.eventsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Utility.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup">
        <activity
            android:name=".Activity.MeetingUsersActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.MsgInboxUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VisitUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AnalyticUserListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InnerDrawerActivity.NotificationExhibitorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InnerDrawerActivity.SponsorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InnerDrawerActivity.ExhibitorSideMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DocumentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ExhibitorAnalytics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditDocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditExhibitorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.PDFDocumentDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ExhibitorDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ExhibitorListingDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".InnerDrawerActivity.LeaderboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.ExhibitorListingActivity"
            android:label="@string/title_activity_exhibitor_listing"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <meta-data -->
        <!-- android:name="asset_statements" -->
        <!-- android:resource="@string/asset_statements" /> -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBM7hXgoejSIXc7Y9KwXKsxbH0lc_gKNEo" />

        <activity
            android:name=".Activity.ExhibitorCatListActivity"
            android:label="@string/title_activity_exhibitor_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.procialize.eventsapp.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.procialize.eventsapp.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.PostViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.VideoViewActivity"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.ImageViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.SpeakerDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.AttendeeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.AgendaDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.EventInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.procialize.eventsapp.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".InnerDrawerActivity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.PdfViewerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.DocumentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.MyTravelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.QRGeneratorActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.QRScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.GalleryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.VideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.LivePollActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.PollDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.QuizActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.QuizDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.QAAttendeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.QASpeakerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.EngagementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.GalleryFirstLevelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.VideoFirstLevelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.SelfieContestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.VideoContestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.SelfieUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.VideoContestUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.SwappingGalleryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.SwappingSelfieActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".CustomTools.DocumentViewerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.AgendaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.SpeakerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.EventChooserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.PostEditActivityOld"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.AttendeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--  <provider
              android:name="android.support.v4.content.FileProvider"
              android:authorities="com.procialize.eventsapp.android.fileprovider"
              android:exported="false"
              android:grantUriPermissions="true">
              <meta-data
                  android:name="android.support.FILE_PROVIDER_PATHS"
                  android:resource="@xml/file_paths" />
          </provider>-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.procialize.eventsapp.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <service
            android:name=".gcm.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyFirebaseInstanceIDService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- Goolge API Key -->
        <activity
            android:name=".Activity.TimeWeatherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.CurrencyConverter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.InitGeneralInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.GeneralInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.SelfieContentActivityNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.LikeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.ExoVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.EULAActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.PrivacyPolicy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".EmptyViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Utility.ImageCropActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.QADirectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.AgendaVacationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.FolderQuizActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.WeatherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.SelfiePost"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.PostEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.ViewPDFActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerDrawerActivity.QuizNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AnswersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InnerDrawerActivity.YourScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PostActivityVideo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <tools:validation testUrl="http://procialize.info/resetPassword.html" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="procialize.info"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <service
            android:name=".Background.BackgroundService"
            android:exported="false" />
        <service
            android:name=".Background.WallPostService"
            android:exported="false" />

        <activity
            android:name=".Activity.EmptyView2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <receiver android:name=".Session.UninstallIntentReceiver">
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.QUERY_PACKAGE_RESTART" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.SuveyDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>